 body{
    margin: 0px;
   }
 header{
  display: flex;
    justify-content: space-between;
  position: relative;
  margin-top: 0;
  height: 60px;
  background-color: rgb(115, 249, 249);
 }
 /*メニュー*/
  .Menu p{
    line-height: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 60px;
    text-align: center;
    background-color: aqua;
    position: relative;
    padding-right: 3px;
    border-right:1.5px solid #000000;
  }
  .Menu p:hover{
    background-color: rgb(55, 0, 255);
  }
 .Menu p a{
  color: black;
  text-decoration:none;
  font-weight: bold;
  font-size: 25px;
  margin-right: 3px;
  display:block;
  padding:10px 0;
 }



 .Menu{
  display: flex;
  justify-content: right;
  list-style: none;
  margin-top: 0px;
}
ul,li{
    list-style:none;
    margin:0;
    padding:0;
}
.Menu li:last-child a{
    border-right:none;
}
.Menu li ul.subMenu li a{
  height: 22px;
  width: 130px;
  line-height: 21px;
    float:none;
    background-color: rgb(255, 243, 225);
    border-right:none;
    font-size:12px;
  border-bottom:1.5px solid #000000;
    display:block;
}
.Menu li ul.subMenu li a:hover{
  background-color: rgb(249, 223, 190);
}
.Menu li{
    float:left;
    width:130px;
    position:relative;
}

.Menu li a{
  top:0px;
    text-align:center;
  line-height: 28px;
  font-weight: 900;
    font-size:19px;
    text-decoration:none;
    color:rgb(0, 0, 0);
    padding:3px 0;
    position:relative;/* z-index用のpositionプロパティ */
    z-index:100;/* z-indexで前面に表示 */
}
.Menu li ul.subMenu{
  line-height: 24px;
    z-index:10;
    display:none;
}
.Menu li:hover ul.subMenu{
    display:block;
}

 /*スライドショー*/
 @keyframes slideshow{
  0%{
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  15%{
    opacity: 1
  }
  25%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}
.slide .img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation :slideshow 20s linear infinite;
}
.slide .img:last-child{
  animation-delay: 4s;
}
.slide .img:nth-child(2){
  animation-delay: 8s;
}
.slide .img:nth-child(3){
  animation-delay: 12s;
}
.slide .img:nth-child(4){
  animation-delay: 16s;
}
 .slide .img:last-child(5){
  animation-delay: 20s;
}
.photo{
position: relative;
width: 100%;
height: 460px;
margin: 0 auto;
overflow: hidden;
}
.sc {
display: flex;
justify-content: center;
align-items: center;
position: absolute;
width: 100%;
height: 750px;
}

.container {
position: relative;
width: 24px;
height: 24px;
}

.chevron {
position: absolute;
width: 28px;
height: 8px;
opacity: 0;
transform: scale3d(0.5, 0.5, 0.5);
animation: move 3s ease-out infinite;
}

.chevron:first-child {
animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
content: ' ';
position: absolute;
top: 0;
height: 100%;
width: 51%;
background:rgb(47, 47, 47);
}

.chevron:before {
left: 0;
transform: skew(0deg, 30deg);
}

.chevron:after {
right: 0;
width: 50%;
transform: skew(0deg, -30deg);
}

@keyframes move {
25% {
  opacity: 1;

}
33% {
  opacity: 1;
  transform: translateY(30px);
}
67% {
  opacity: 1;
  transform: translateY(40px);
}
100% {
  opacity: 0;
  transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
}
}

.text {
display: block;
margin-top: 75px;
margin-left: -30px;
font-weight: bold;
font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
font-size: 12px;
color: rgb(47, 47, 47);
text-transform: uppercase;
white-space: nowrap;
opacity: .25;
animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
to {
  opacity: 1;
}
}

/*二列化*/
.honbun{
  display:table;
  margin-top: 20px;
  display: flex;
  margin-top: 15px;
  margin-left: 60px;
  margin-right: 60px;
 }
 .contentA{
  width: 80%;
 }
 .contentB{
  margin-left: 10px;
  width: 20%;
 }
.contentB dd{
  margin-left: 0;
}
.contentB #news{
  background-color: rgb(245, 240, 235);
  height: 280px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.contentB #news dt{
  padding-top: 10px;
}
.contentB #news li{
  text-align: center;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  background-color:bisque;
}
.contentB #news a{
  text-decoration: none;
}

.contentB #seny{
  font-size: 17px;
  padding-top: 12px;

}
.senyou{
  background-color: rgb(253, 230, 202);
  padding-bottom: 5px;
}
/*本文*/
  .honbun #kaigan{
    float: right;
  }
  .honbun #yama{
    float: left;
  }
  .honbun .yama{
    margin-top: 180px;
  }
  .honbun .hanabi{
    margin-top: 130px;
  }
  .honbun #hanabi{
    float: right;
  }
  .honbun .hasi{
    margin-top: 180px;
  }
  .honbun #hasi{
    float: left;
  }
  .honbun .sentouki{
    margin-top: 160px;
    margin-bottom: 200px;
  }
  .honbun #sentouki{
    float: right;
  }
  .honbun h2{
    margin-bottom: 0;
    
  }
  .honbun p{
    font-size: 18px;
    text-align: left;
  }

  .video{
    text-align: center;
     
  }
  video{
    width:640px;
     height:360px;
  }
.undernews{
  margin-right: 60px;
  margin-left: 60px;
}
.honbun #inyou{
  text-align: right;
  }


  .twitter-timeline{
    height: 100px;
  }


/* スライドする要素 */
.content {
  width: 230px;
  height: 340px;
}
/* スライドレールの枠 */
.wrap {
  margin-right: 25px;
  margin-left: 25px;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 380px;
  margin-bottom: 0;
}
/* content4つをまとめたスライドブロック */
.slideshow {
  display: flex;
  -webkit-animation: loop-slide 45s infinite linear 1s both;
  animation: loop-slide 45s infinite linear 1s both;
}
@-webkit-keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.slide-paused:hover .slideshow {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.content-hover {
  transition: all 0.2s;
  margin-right: 20px;
}
.content-hover:hover {
  transform: translateY(-20px);
  box-shadow: 0 3px 10px 0 #333;
  opacity: 0.8;
  cursor: pointer;
}
.passho{
  display: none;
}
  .undermenu{
  display: flex;
  background-color: rgb(252, 247, 240);
  height: 60px;
  line-height:60px;
  }
  .undermenu li{
    font-weight: bold;
  padding-left: 15px;
  display: inline;
  vertical-align: middle;
  
  }
  .undermenu li a{
  color: black;
  text-decoration: none;
  }
  .undermenusum1{
    display: none;
}
.undermenusum2{
  display: none;
}
  footer{
  font-size: 20px;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  background-color: antiquewhite;
  }


